html,
body {
    /* height: 100%; */
    width: 100%;
    background: #FCEDDA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    line-height: 0.7vw;






}

/* 
.header {
    width: 95%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}


.logo-name {
    display: flex;
    align-items: center;
}


.logo {
    width: 3vw;
    height: auto;

}

.name {
    width: 12vw;
    height: auto;
    padding-left: 1vw;

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    height: auto;

}


.edu,
.chs,
.art,
.my {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #F87474;

}


.chs {
    font-weight: 800;
}


a {
    text-decoration: none; 
}


.email {
    text-decoration: none;

    height: auto;
    width: 3vw;
    padding-right: 3vw;

}

.linkedin {
    text-decoration: none;


    height: auto;
    width: 3vw;

} */


/* .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
    position: absolute;
    left: 10vw;
    top: 20vh;

}

.logo-edu {
    width: 5vw;
    height: auto;
}

.title-name {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
    font-weight: 800;
    color: #F87474;
    padding-left: 1vw;
} */



.chart {
    width: 80vw;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 8vh;
}


.footer {
    height: 15%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.ty-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}


.footer-icon {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 5vh;
    width: auto;
    padding: 2.5vh 0 2.5vh 0;
}

.email-footer,
.linkedin-footer {
    height: 5vh;
    width: auto;
}

.copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 0.9em;

}



#container {
    width: 80vw;
    /* Full-width container */
    background-color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    overflow: hidden;

}


.visible-content {
    width: 100%;
    height: 20vw;
    /* 1000px in vw */
    background-color: white;
    text-align: center;
    padding-top: 3vw;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border-bottom: 1px solid #ddd; */
}


.intro {
    height: 30vw;
    width: 100%;
}



.hidden-content {
    width: 100%;
    height: 20vw;
    background-color: #FFF8EE;
    display: none;
    /* Hidden by default */
    text-align: center;
    /* margin-top: 30vw; */
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-top: 3vw;
    box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.5);


    /* opacity: 0; */

    /* transition: height 0.5s ease, margin-top 0.5s ease; */
}

.hidden-content.show {
    display: block;
    animation: slideInDown 1s ease-in;
    /* animation: slideInUp 1s ease-out; */

    /* margin-top: 30vw; */
    /* opacity: 1;  */
}


.hidden-content.close {
    animation: slideInUp 1s ease-out;

}

#h1 {
    height: 117vw;

}

#h2 {
    height: 97vw;
}


#h3 {
    height: 22vw;
}

#h4 {
    height: 35vw;
}


#h5 {
    height: 78vw;
}


#h6 {
    height: 75vw;
}



#wide {
    height: 4vw;

}


.button-container {
    background-color: white;
    z-index: 10;

}


.toggle-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 2.5vw;
    /* padding: 1vw; */
    font-size: 1vw;
    font-weight: 500;

    cursor: pointer;
    background-color: transparent;
    color: #F87474;
    border: none;
    text-align: center;
    border: 1px #F87474 solid;
    border-radius: 10vw;
    z-index: 10;
    margin-top: 2.5vw;
    /* border-bottom: 1px solid #ddd; */
}


.toggle-button:hover {
    font-weight: 600;
    text-decoration: underline;
}

.arrow {
    margin-left: 0.5vw;
    width: auto;
    height: 0.5vw;
    transition: transform 0.5s ease;
}

.arrow.rotate {
    transform: rotate(180deg);

}



.t {
    width: auto;
    height: 8vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    /* cursor: pointer; */
    position: relative;
    z-index: 1;


}

/* .t.expanded {
    position: fixed;
    width: 300px;
    height: auto;
    transform: scale(1.5); 
    z-index: 100; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: white;
} */


#v2 {
    height: 23vw;
}


#v3 {
    height: 18vw;
}


#v4 {
    height: 24vw;
}

#v5 {
    height: 19vw;
}

.container-bar {
    width: 100%;
    height: 100%;
}


/* #v1{
    z-index:8;
}

#v2{
    z-index:7;
}
#v3{
    z-index:6;
}
#v4{
    z-index:5;
}
#v5{
    z-index:4;
}
#v6{
    z-index:3;
}
#v7{
    z-index:2;
} */

.cb0 {
    width: 39%;
    height: 20vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 15vw;

}

.cb1 {
    width: 100%;
    height: 14vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 56.2vw;

}


.cb2 {
    width: 100%;
    height: 16vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 97.5vw;

}


.cb3 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 140.8vw;

}

.cb4 {
    width: 100%;
    height: 17vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 180vw;

}


.cb5 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 224.5vw;

}


.cb5 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 225vw;

}

.cb6 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 265vw;

}

#videohead {
    margin-top: 7vw;
}

.video-content {
    width: 80%;
    height: 20vw;
    background-color: white;
    margin-bottom: 7vw;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4vw;


}



.cb7 {
    width: 100%;
    height: 16vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 300vw;

}




.f {
    width: auto;
    height: 11vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);


}

.p {
    width: auto;
    height: 6vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}



.b {
    width: auto;
    height: 12vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.d {
    width: auto;
    height: 7vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}


.vd {
    width: 23vw;
    height: 15vw;
    margin: 0.9vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.et {
    width: auto;
    height: 8vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

#round {
    border-radius: 50vw;
}


span {
    font-weight: bold;
}



.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: auto;
    margin: 10vw 0;
    z-index: 5;

}

.company {
    display: flex;
    flex-direction: column;
    /* align-items: right; */
    width: 30%;
}

.intro-des {
    width: 70%;
}


.logos {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
}

#logo {
    width: auto;
    height: 6.5vw;
    margin-bottom: 1vw;

}



.job-title {
    font-size: 1.3vw;
    font-weight: 600;
    margin-top: 2vw;
    line-height: 1.3vw;
}

.job-comp {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 0.8vw;
    text-align: right;
    line-height: 1.3vw;


}

.job-date {
    font-size: 1vw;
    margin-top: 0.2vw;
    text-align: right;
    line-height: 1.3vw;

}

.intro-des {
    font-size: 1vw;
    padding-left: 3.5vw;
    line-height: 1.3vw;
}

.space {
    font-size: 1.5vw;
    font-weight: 600;
    color: #F87474;
    padding-top: 7vw;
    padding-bottom: 3vw;
    width: 100%;
    background-color: #FCEDDA;
    display: flex;
    justify-content: center;
    z-index: 5;
}



.loading-spinner {
    width: 5vw;
    height: 5vw;
    /* border: 5px solid #ccc;
    border-top: 5px solid #333; */
    background-image: url('src/me-24.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    background-size: 100%;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}


.h-group {
    display: none;
}

.hidden-h-group.show .h-group {
    display: block;
}



@media (max-width: 768px) {
    body{
        margin-top: 20vw;

    }
   .intro,
   .company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
   } 

   .logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

   }

   #logo{
    width: 80px;
    height: 100%;
   }


   .job-title{
    font-size: 18px;
    line-height: 25px;
   }

   .job-comp{
    font-size: 16px;
    line-height: 25px;

   }

   .job-date{
    font-size: 16px;
    line-height: 25px;

   }

   .intro-des{
    font-size: 14px;
    line-height: 18px;
    width: 85%;
    margin-top: 15px;
   }

   .space{
    font-size: 18px;
    height: 30px;
   }

   #container{
    width: 92%;
   }





   .visible-content{
    margin: 0;
    padding-top: 10px;
   }


   .t{
    height: 88px;
    margin: 10px;
   }

   #invisible{
    display: none;
   }

   .toggle-button{
    width: 130px;
    height: 30px;
    font-size:16px;
   }

   #v1{
    height: 280px;

   }

   #h1{
    height: 2720px;
   }


   .f{
    height: 120px;
    margin: 10px;
   }

   #v2{
    height: 350px;

   }

   #h2{
    height: 2410px;
   }



   .p{
    height: 88px;
    margin: 10px;
   }

   #v3{
    height: 290px;

   }

   #h3{
    height: 700px;
   }

   

   .b{
    height: 150px;
    margin: 10px;
   }

   #v4{
    height: 410px;

   }

   #h4{
    height: 890px;
   }


   .d{
    height: 88px;
    margin: 10px;
   }

   #v5{
    height: 290px;


   }

   #h5{
    height: 2080px;
   }

   .et,
   #wide{
    height: 88px;
    margin: 10px;
   }

   #v6{
    height: 290px;


   }

   #h6{
    height: 2080px;
   }
   

   .video-content,
   .videos {
    width: 95%;
    height: 680px;
    
   }


.vd{
    height: 190px;
    width: 94%;
    margin: 15px 10px;

   }



}