@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* ===================================================================== */
/* Colors */
/* ===================================================================== */



:root {

    --pink: #FFDFDF;
    --teal: #005E70;
    --teal-light: #D9E7EA;
    --pink-original: #F87474;
    --pink-light: #FEECEC;
    --teal-superlight: #F2F7F8;
    --color-title: #F66E3C;
    --color-main: #3BABD8;
    --color-sub: #FFF5F1;
    --color-sublue: #eff8fc;
}


.index a {
    /* cursor: none; */
}



/* ===================================================================== */
/* No Changes Below here */
/* ===================================================================== */


html {
    width: 100vw;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;

}

.title {
    /* height: 70vh;
    width: 100%; */
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin-top: 3vh;
    margin-bottom: 200px;
    gap: 100px;

}



.mainimg {
    width: 300px;
    height: 600px;
    object-fit: cover;
    /* margin-left: 20%; */
    margin-top: 3vw;
    display: block;
    border-radius: 60px;
    margin-right: 200px;


}


/* @media (max-width: 1200px) {

    .mainimg {
        width: 18vw;

        margin-left: 12%;

        border-radius: 30px;

    }


} */


/* 
@media (max-width: 756px) {

    .mainimg {
        width: 10vw;

        margin-left: 12%;

        border-radius: 30px;

    }


}

 */




/* .empty{
    background-color: var(--color-sub);
    width: 800px;
    height: 400px;
    margin-top: 200px;
} */

.title-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */


}

.tools {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3vw;
    margin-bottom: 1vw;
    /* margin-right: 3vw; */
}

.skill-logo {
    width: 2em;
    height: auto;
    padding-right: 1vw;

}

.title-box {
    color: var(--color-title);
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;

}





.title-des {
    /* list-style: none; */
    font-family: 'Inter', sans-serif;
    padding-left: 12px;
    line-height: 1.8em;
    font-size: 1vw;
    padding-top: 2vh;
    color: #543C32;
    font-weight: 600;
}





.brief {
    height: 80px;
    background-color: var(--color-sub);
    border-radius: 20px;
    margin-top: 2vw;
    padding: 0px 50px;
}



#cal-img,
#group-img {
    width: auto;
    height: 2em;
}

.cal,
.group {
    fill: var(--color-title);
}

.brief,
.cal-box,
.group-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
}


.group-box {
    padding-left: 2vw;

}






.cal-des,
.group-des {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 0.5vw;

}





.main-container {
    display: flex;
    flex-direction: column;

}


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 200px;
    align-items: center;
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;


}

#inner-container{
    margin-top: 100px;
}



.container.show {
    opacity: 1;
    filter: blur(0);

}



.sub-title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: var(--color-main);
    font-weight: 700;
    margin-bottom: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.sub-title::before,
.sub-title::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: var(--color-main);
    opacity: 0.3;
    margin: 0 1rem;
}

.proto-des {
    margin-bottom: 50px;
    margin-top: 10px;

}



/* ====================================================================================== */
/* Iframe */
/* ====================================================================================== */


iframe {
    width: 500px;
    height: 1000px;
}

.openInFigma {
    background-color: var(--color-title);
    font-weight: 700;
    padding: 1.5em 3em;
    border-radius: 20vw;
    margin-top: 2em;
}

.openInFigma a {
    color: #FFF;
    /* cursor: none; */
}

.proto-des {
    font-weight: 600;
}


/* ====================================================================================== */
/* Styles only for LivMate */
/* ====================================================================================== */



.index,
.index a {
    color: var(--color-main);
    text-decoration: underline;
    font-size: 18px;
    line-height: 36px;
}

.index a:hover {
    color: var(--color-title);
}

.des {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 1em;
}

#es-des {
    width: 30vw;
    line-height: 1.4em;
    /* background-color: var(--color-sublue); */
    /* border: 1px solid var(--color-main); */
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */
    padding: 3em 2em;
    color: #000;
    margin-top: 1em;
    border-radius: 0 20px 20px 0;
    font-weight: 400;
    background-color: var(--color-sublue);


}

#es-des span{
    font-weight: 700;
}

#es-rs-container{
    width: 500px;
    margin-top: 40px;
    display: flex;
    background-color: var(--color-title);
    padding: 30px 50px;
    border-radius: 10px;
}

.rs2{
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.rs3{
    color: #FFFFFF96;
    font-size: 16px;
    margin-top: 16px;
    text-align: left;
    line-height: 26px;

}


.esThumb {
    width: 500px;
    height: auto;
    padding: 20px;
    box-shadow: -3px 3px 1em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    /* border: 5px solid var(--color-title); */

}


/* ====================================================================================== */
/* es */
/* ====================================================================================== */

.num4 {
    color: #BD052D;
    text-decoration: underline;
    /* cursor: none; */

}

.num10 {
    color: #D4005E;
    text-decoration: underline;
    /* cursor: none; */



}

/* ====================================================================================== */
/* Objectives */
/* ====================================================================================== */

#max-container {
    width: 100%;
}

.cross-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}




@media (max-width: 768px) {
    .deco1 {
        display: none;
    }


}


/* ====================================================================================== */
/* Objectives */
/* ====================================================================================== */


.oj-img {
    width: 1000px;
    height: 100%;
    margin-bottom: 100px;
}



.oj {
    width: 800px;
    list-style-type: disc;
    /* border: 1px solid var(--color-main); */
    padding: 30px 50px;
    border-radius: 20px;
    /* background-color: var(--color-sub); */
    z-index: 3;
    min-width: 740px;
    border: 2px solid var(--color-title);


}

.oj li {
    font-weight: 600;
    width: auto;
}
/* 
@media (max-width: 1000px) {
    .oj {

        min-width: 540px;


    }



} */



.oj li {
    line-height: 30px;
}

.oj li span {
    font-weight: 800;
}

@media (max-width: 768px) {

    .oj-img{
        width: 90%;
        margin-bottom: 20px;
    }

    .cross-container{
        width: 90%;
    }

    .oj{
        width: 100%;
        min-width: 200px;
        padding: 20px 20px 20px 40px;
    }

    .oj li {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
    }




}



/* ====================================================================================== */
/* User Research */
/* ====================================================================================== */


.persona-img {
    width: 1000px;
    height: 100%;
    margin-bottom: 100px;
}


.storyboard-img {
    width: 1000px;
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/* 
#ur-container{
    margin-bottom: 80px;
} */

.ca-img{
    height: 360px;
    width: auto;
    margin-bottom: 60px;
}

.ui-img{
    height: 260px;
    width: auto;
    margin-bottom: 60px;
}

.ur-des{
    width: 900px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: center;
}


/* ====================================================================================== */
/*Design Phase */
/* ====================================================================================== */

.information-architecture-img{
    height: 600px;
    width: auto;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */


}

.des-link{
    text-decoration: none;
    color: var(--color-sub);
    font-weight: 600;
    border: 1px solid var(--color-title);
    border-radius: 30px;
    padding: 15px 25px;
    margin-top: 40px;
    margin-bottom: 120px;
    background-color: var(--color-title);
}

.branding-img{
    width: 1000px;
    height: auto;
}


#end-margin{
    margin-bottom: 100px;
}
/* ====================================================================================== */
/*Modal */
/* ====================================================================================== */
/* .modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
  }
  
  .modal-content {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
  }
  
  .modal-close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  } */





/* ====================================================================================== */
/* User Survey */
/* ====================================================================================== */

#usersurvey {
    background-color: #FFF;
    padding: 3em;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: auto;

}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


#p10 {
    background-color: #3A82AA;
    color: #FFF;

}

#p2 {
    background-color: #9CC0D4;
}


.bold {
    font-weight: 600;
}

.pie {
    width: 35em;
    margin: 10em 0;
}

.inner-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 3em;
    color: var(--color-title);
}

.inner-title#rs1{
    margin-top: 200px;
    margin-bottom: 0;
}

#findingroommate {
    color: #008EE4;
}

#commonproblem {
    color: #004C92;
    margin-top: 8em;
}

#bdrow {
    display: flex;
    align-items: flex-start;
}

#blue-container {
    display: flex;
    align-items: flex-start;
}

#persona-container {
    display: flex;
    align-items: flex-start;
}


.lmheader {
    background-color: #004C92;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: auto;
    padding: 2em;
    color: #FFF;
    font-weight: 600;
    border-radius: 1em;
}

#blue {
    width: 16em;
    margin: 0 1em;
}

.problems {
    text-align: center;
    line-height: 2em;
    margin-top: 1.6em;
    color: #004C92;
    font-weight: 600;
}




/* ====================================================================================== */
/* User Persona and Journey Map */
/* ====================================================================================== */

.persona {
    width: 40em;
    height: auto;
    margin: 2em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.journeymap {
    width: 70em;
    height: auto;
    margin: 2em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}


/* ====================================================================================== */
/* Wireframe */
/* ====================================================================================== */

.sketch {
    width: 16em;
    height: auto;
    padding: 1.4em;
}

.lofi {
    width: 16em;
    height: auto;
    padding: 1.4em;

}

#spaceEven {
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}




/* ====================================================================================== */
/* Branding Design */
/* ====================================================================================== */

.brand {
    width: 36em;
    height: auto;
    margin-bottom: 2em;
}


.brandDes {
    text-align: center;
    line-height: 1.4em;

}

#half {
    width: 36em;
    margin: 2em;
}




/* ====================================================================================== */
/* Hi-Fi */
/* ====================================================================================== */

.hifi-main {
    width: 18em;
    height: 100%;
    z-index: 1;
    box-shadow: -0.4em 0.4em 0.4em rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: 50px;


}


#hifi-half {
    width: 12em;
    height: 100%;
    border-radius: 30px;

}

.hifi-sub {
    width: 8em;
    height: auto;
    margin: 0.4em;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.2);

}

#hifi-des1,
#hifi-des2,
#hifi-des3,
#hifi-des4 {
    background-color: var(--color-sub);
    width: 38em;
    height: auto;
    border-radius: 2em;
    padding: 3em 4em;
    margin-left: -120px;
}

#hifi-des1 {
    margin-top: 14px;
    padding: 4.6em 4em;
}

#hifi-des2 {
    margin-top: 14px;
    padding: 4.6em 4em;
}

#hifi-des3 {
    margin-top: 10px;
    padding: 5.5em 4em;
}


#hifi-des4 {
    margin-top: 10px;
    padding: 5.5em 4em;
    background-color: var(--color-sublue);

}




.icon {
    height: 1.3em;
    width: auto;
}


#hifi-des-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 0.6em;
    margin-left: 100px;


}

.hifi-des-title {
    margin-left: 0.4em;

}

.hifi-des-detail {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 2em;
    padding-left: 100px;
    z-index: 0;

}



.hifi-sub-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -0.6em;
    z-index: -1;
    margin-top: -11em;

}




.hifi-sub-empty {
    width: 8em;
    height: 10em;
    margin: 0.4em;
    margin-top: -11em;
}

#hifi2 {
    margin-top: -6.4em;

}

#hifi3 {
    margin-top: 5.8em;
}




.styleguide {
    width: 900px;
    height: 100%;
    box-shadow: 0em 0.4em 1em rgba(0, 0, 0, 0.1);

}


#sg1 {
    margin-bottom: 150px;
}



#container-no-margin {
    margin: 0;
    padding: 0;
    margin-top: 2em;
}

#icon-profile {
    height: 1.5em;
    width: auto;
}



@media (max-width: 1300px) {

    #hifi-container {
        width: 80%;
    }


    #hifi-half {

        width: 10em;
        border-radius: 26px;
    }


    #hifi-des3 {
        padding-right: 3em;
    }
}




/* ==============================================
pj shift button
============================================== */

.shift-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
    /* margin-right: 3vw; */
}

.b-shift-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em 0;
}


.shift-previous {
    border: 1px solid var(--color-title);
    /* cursor: none; */
    color: var(--color-main);
    font-size: 14px;
    font-weight: 600;
    padding: 14px 26px;
    border-radius: 10vw;


}

.shift-next:hover,
.shift-previous:hover {
    box-shadow: 2px 2px 0.5vw rgba(0, 0, 0, 0.1);
}


.shift-next {

    background-color: var(--color-title);
    /* margin-right: 2vw; */
    /* cursor: none; */
    color: white;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 2vw;
    border-radius: 10vw;
    margin-right: 2vw;
}

/* .shift-next {
    display: none;
}
 */






/* ====================================================================================== */
/* Responsive */
/* ====================================================================================== */




@media (max-width: 1000px) {

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .frame{
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }





    iframe {
        width: 86%;
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 30px;

    }

    iframe canvas {
        width: 100%;
        height: auto;
    }

    .proto-des {
        display: none;

    }



    .openInFigma {
        color: #FFF !important;
        background-color: var(--color-title) !important;
        font-weight: 700;
        padding: 16px 20px;
        border-radius: 20vw;
        /* cursor: none; */
        font-size: 14px;
        margin-top: 0;
    }

    .openInFigma a {
        color: #FFF !important;
    }




    .sub-title {
        font-size: 18px;
    }

    .index {
        font-size: 14px;
        line-height: 14px;
    }



    .container {
        margin: 45px 0px;
    }

    /* ==============================================
pj shift button
============================================== */

    .shift-next,
    .shift-previous {
        font-size: 14px;
        padding: 14px 20px;
        margin: 0;
        margin-bottom: 18px;
        margin-top: 20px;
    }

    .shift-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        margin: 0;
    }

    .b-shift-container {
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
    }

    .shift-next {
        margin-right: 20px;
    }

    /* ==============================================
survery
============================================== */

    .des {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        width: 80vw;
    }





    /* ==============================================
hifi
============================================== */


    #hifi-container {
        display: flex;
        flex-direction: column;
    }



    .hifi-sub-container {
        display: none;
    }


    #hifi-des1,
    #hifi-des2,
    #hifi-des3,
    #hifi-des4,
    #hifi-des5 {
        width: 95%;
        padding: 28px;
        border-radius: 1em;
        margin-top: -100px !important;
        padding-top: 130px;
        z-index: -1;
        margin: 0;

    }

    #hifi-half {
        border-radius: 30px;
    }

    .hifi-des-detail {
        font-size: 15px;
        padding-left: 0;

    }

    .hifi-main {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }


    .styleguide {
        width: 90vw;
        margin-top: 20px;
    }


    /* .openInFigma {
        padding: 20px 30px;
    } */

    #es-container {
        display: flex;
        flex-direction: column;
    }

    .esThumb {
        width: 70vw;
        height: auto;

    }

    #es-des {
        width: 70vw;
        line-height: 24px;
        margin-top: -50px;
        z-index: -1;
        padding-top: 80px;
        padding-bottom: 30px;
        border-radius: 0 0 1em 1em;

    }

    .containers {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;



    }

    /* .ppl, */
    .persona,
    .journeymap {
        width: 100%;
        /* Ensures these elements don't exceed the screen width */
        max-width: 100%;
        /* Prevents them from being larger than the viewport */
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
        /* Ensures images don't overflow */
        height: auto;
        /* Maintains aspect ratio */
    }






}




@media (max-width: 756px) {

    #hifi-half {

        border-radius: 20px;
    }

}


@media (max-width: 768px) {
    .inner-title#rs1{
        font-size: 16px;
        margin-top: 50px;
    }

    #es-rs-container{
        width: 86%;
        padding: 20px 12%;
        margin-top: 40px;
    }

    .rs2{
        font-size: 16px;
    }

    .rs3{
        font-size: 14px;
        line-height: 20px;
    }

    
    .row-container{
        display: flex;
        flex-direction: column;
    }

    .ca-img{
        height: 180px;
        width: auto;
        margin-bottom: 0px;
    }

    .inner-title{
        font-size: 16px;
        margin-bottom: 20px;

    }

    .ui-img{
        width: 82%;
        height: auto;
        margin-bottom: 0;
    }

    .ur-des{
        width: 86%;
        font-size: 14px;
        text-align: left;
        color: #1a1a1a;
        margin-bottom:20px;
    }

    .persona-img, .storyboard-img{
        width: 90%;
        height: auto;
        margin-bottom: 40px;
    }

    .information-architecture-img{
        width: 90%;
        height: auto;
    }

    .des-link{
        font-size: 14px;
        font-weight: 500;
        padding: 12px 20px;
        margin-bottom: 60px;
    }

    #end-margin{
        margin-bottom: 40px;
    }

    #sg1{
        margin: 0;
    }

    #hifi-des-title-container {
        font-size: 24px;
        margin-left: 0;
        flex-direction: row;

    }

    #hifi-half-container{
        flex-direction: row;
    }

    #hifi-half{
        border-radius: 30px;
    }


}
