@media (max-width: 768px) {




    .header {
        display: show !important;
        position: fixed !important;
        top: 0 !important;
        z-index: 2000 !important;
        /* Ensure it stays on top of other content */
        background-color: #FCEDDA !important;

        /* Background color of the header */
        /* padding: 10px 20px; */
        width: 100vw !important;
        height: 80px !important;
        padding:0 !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        /* Ensures the header takes full width */
    }



    .logo{
        position: fixed;
        top: 20px;
        left: 20px;
        margin:0;
        width: 40px !important;
        height: 40px !important;

    }

    .name{
        position: fixed !important;
        top: 28px !important;
        left: 80px !important;
        margin:0 !important;
        height: 25px !important;
        width: auto !important;
        margin-left: 15px !important;

    }



    .menu {
        display: none !important;
        flex-direction: column!important;
        position: fixed !important;
        top: 80px;
        right: 0px;
        height: 100%;
        width: 250px;
        background-color: #FCEDDA;
        text-align: left!important;
        align-items: left !important;
        justify-content: flex-start !important;
        align-content: flex-start !important;
        transform: translateX(100%) !important;
        /* Start off-screen */
        transition: transform 0.3s ease !important;
        z-index: 1002 !important;
        /* box-shadow: inset 0 0 10px #F87474; */
        /* box-shadow: -5px 5px 5px rgb(0,0,0,0.5); */
    }



    .menu.open {
        transform: translateX(0) !important;
        /* Slide into view */
        display: flex !important;
        /* Ensure it's displayed */
        flex-direction: column !important;
        align-items: left !important;
        justify-content: flex-start !important;
        text-align: left !important;
        align-content: flex-start !important;
        



    }

    .menu-toggle {
        display: flex !important;
        flex-direction: column !important;
        width:40px !important;
        /* Increase the width */
        height:40px !important; 
        /* Increase the height */
        cursor: pointer !important;
        /* position: relative; */
        /* Add relative positioning */
        position: fixed !important;
        right: 20px !important;
        padding:0 !important;
        margin: 0 !important;
    }

    .menu-toggle .bar {
        width: 40px !important;
        /* Ensure the bars are not too wide */
        height: 4px !important;
        /* Adjust h eight if necessary */
        background-color: #F87474 !important;
        margin: 4px 0 !important;
        transition: all 0.3s ease!important;
        z-index: 1100 !important;
        border-radius: 5px!important;
        padding: 0 !important;
        
    }


    /* .menu-toggle.active .bar {
        background-color: #ff0000;
        z-index: 10;
        width: 30px;



    } */


    .menu-toggle.active {
        width: 40px;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    .sns {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 10vh;
        margin-left: 10vw;


    }

    .content-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* 10% opacity */
        z-index: 1000;
    }

    .content-overlay.active {
        display: block;
        /* Show overlay when menu is open */
    }



    .menu a {
        font-size: 20px;
        margin:20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        color: #F87474;
        font-family: 'Roboto', sans-serif;
        height: 8vw;
        justify-content: center;
    }

    

    .email,
    .linkedin {
        width: 44px;
        height: 44px;
        padding: 0;
        margin: 0;
    }






    .footer {
        padding: 5vw 0;
        height: 120px !important;
    }



    .ty-text{
        font-size: 14px !important;
        font-weight: 600 !important;
    }


    .copyright {
        font-size: 13px !important;
        width: 80% !important;
        line-height: 18px !important;
    }
    

    .footer-icon{
        padding: 20px 0 !important;
        height: 8vw;
        gap: 30px !important;

    }

    .linkedin-footer,
    .email-footer{
        width: 44px !important;
        height: 44px !important;
    }




}