@media (max-width: 768px) {

    svg {
        fill: none;
        height: 6vh;
        stroke-width: 60px;
        stroke-linecap: round;
    }


    /* Ensure the sections stack vertically */
    .sec {
        flex-direction: column;
        align-items: center;
        width: 90vw;
        height: 150vh;
        max-width: 90vw;
        margin-top: 5vh;
    }



    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container {
        width: 100%;
        height: auto;
        margin-bottom: 2vh;
    }

    .des-box {
        width: 100%;
        padding-left: 0;
        padding-top: 2vh;
        text-align: center;
        transform: translateX(0);
    }

    .title {
        font-size: 5vw;
        padding-top: 2vh;
    }

    .des {
        font-size: 4vw;
        padding-top: 2vh;
    }

    .skill {
        font-size: 4vw;
        padding-top: 2vh;
    }


    .card-frame {
        display: grid;
        height: initial;
        width: initial;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10vw;
        justify-items: center;
    }

    .card {
        font-size: 20vw;
        width: 35vw;
        height: 50vw;
    }



}

/* 
@media screen and (orientation:portrait) {
    .card-frame {
      display: grid;
      height: initial;
      width: initial;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 10vw;
      justify-items: center;
    }
  
    .card {
      font-size: 20vw;
      width: 35vw;
      height: 50vw;
    }
  } */