.GlansisBanner{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.GlansisIconBox {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Aligns the items vertically */
    gap: 50px;
    margin-top: 40px; /* Adds space between each icon-description pair */
}

.GDate, .GTeam, .GPurpose, .GTool {
    display: flex;
    align-items: center; /* Aligns the icon and description vertically */
    gap: 1px; /* Adds space between the icon and the text */
}

.Gicon1, .Gicon2, .Gicon3, .Gicon4 {
    width: 50px; /* Sets icon width */
    height: 50px; /* Sets icon height */
    fill: #F5BD4F; /* This will not work for <img> tags, see below */
}

.GIconDes1 {
    margin: 0; /* Removes default paragraph margin */
    color: white; /* Sets text color to white */
    font-family: 'IBM Plex Sans', sans-serif; /* Sets the font family */
    font-size: 14px;
    font-weight: lighter; /* Sets the font size */
}




.GlansisDetails {
    color:white;
    display: flex;
    justify-content: space-between; /* Adjusts the spacing between the child elements */
    align-items: flex-start; /* Aligns children at the top */
    gap: 40px; /* Optional: Adds space between the child elements */
    margin: 100px 20% 0 10%;

}


.GlansisProgressSec {
    flex: 1;
    min-width: 100px; /* Ensures it doesn't get too narrow */
    max-width: 30%; /* Optional, for further control */
    text-align: right;
}

.GlansisResearch{
    color:#0085CA;
}
.GlansisDesign{
    color:#D9F1FE;
}


.GlansisObjectiveSec {
    flex: 2;
    min-width: 500px; /* Ensures it doesn't get too narrow */
    max-width: 70%; /* Optional, for further control */
    text-align: left;
}


.GRPB{
    font-size: 20px;
    color:#0085CA;
    text-align: center;
}

.GRPB1Img{
    width:100px;
    height: auto;
}



















.GlansislinkBox {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    margin-top: 100px;
    color: white;
    gap: 50px; /* Adjust as needed */
  }

.GlansisFigma{
    text-decoration: underline;
}
.GlansisFigma:hover{
    color:#FF9900;
}